.subcategory {
  padding: 50px 0;
  background-color: white;
  background: url('./../images/bg-category.jpg') center;
  background-size: cover;
}

.subcategory__title {
  color: #fff;
  font-size: 55px;
  margin: 0;
}

.subcategory__subtitle {
  font-size: 22px;
  text-align: center;
  padding-bottom: 50px;
  border-bottom: 4px solid greenyellow;
}

.mergin-0 {
  margin-bottom: 0;
}

.card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__wrap {
  color: black;
}

.card__bg {
  background-color: #ccc;
}

.card-image img {
  max-height: 300px;
}

.services__box {
  border-radius: 22px;
  overflow: hidden;
}