.subcategory {
  padding: 50px 0;
  background-color: white;
  background: url('./../images/bg-category.jpg') center;
  background-size: cover;
  min-height: 100vh;
}

.subcategory__title {
  color: #fff;
  font-size: 55px;
  margin: 0;
}

.subcategory__subtitle {
  color: white;
  font-size: 22px;
  text-align: center;
  padding-bottom: 50px;
  border-bottom: 4px solid greenyellow;
}

.mergin-0 {
  margin-bottom: 0;
}

.card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__wrap {
  color: black;
}

.card__bg {
  background-color: #ccc;
}

.card-image img {
  max-height: 300px;
  border-radius: 22px !important;
  overflow: hidden;
}

.services__box {
  border-radius: 22px;
  overflow: hidden;
}

.card__info {
  padding: 15px !important;
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  background-color: #a4ffdd;
}

.cat__msg {
  position: fixed;
  top: 100px;
  right: -100%;
  padding: 20px;
  color: black;
  border-radius: 15px;
  font-weight: 700;
  background-color: #62c004;
  transition: all 0.4s ease-in-out;
}

.cat__msg--visible {
  right: 3%;
}